<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>글 상세보기</title>
</head>
<body>
<h1>글 상세보기</h1>

<h2>번호 : <th:block th:text="${post.id}">번호</th:block></h2>
<h2>제목 : <th:block th:text="${post.title}">제목</th:block></h2>
<h3>내용</h3>
<div th:text="${post.content}">내용</div>

<div>
  <a th:href="@{/posts}">글 목록</a>
  <a th:href="@{/posts/{id}/modify(id=${post.id})}">수정</a>
  <a th:href="@{/posts/{id}/delete(id=${post.id})}">삭제</a>
</div>
<hr>
<h2>댓글 작성</h2>
<form onsubmit="postComment__submitWriteForm(this); return false;" th:action="@{/posts/{postId}/comments/write(postId=${post.id})}" method="POST">
  <textarea rows="10" cols="100" name="content" placeholder="댓글 내용을 입력해주세요."></textarea>
  <div>
    <input type="submit" value="등록">
  </div>
</form>
<script>
  function postComment__submitWriteForm(form) {
    if(form.content.value.length == 0) {
      alert("댓글 내용을 입력해주세요.");
      form.content.focus();
      return false;
    }

    if(form.content.value.length < 2) {
      alert("댓글 내용은 2자 이상 입력해주세요.");
      form.content.focus();
      return false;
    }

    if(form.content.value.length > 100) {
      alert("댓글 내용은 100자 미만으로 입력해주세요.");
      form.content.focus();
      return false;
    }

    form.submit();
  }
</script>
<hr>
<h2>댓글 목록</h2>
<ul>
  <li th:each="comment : ${post.comments}">
    <h2>번호 : [[${comment.id}]]</h2>
    <h3>작성일 : [[${comment.createDate}]]</h3>
    <h3>수정일 : [[${comment.modifyDate}]]</h3>
    <div>내용 : [[${comment.content}]]</div>
    <div>
      <a href="#">수정</a>
      <a th:href="@{/posts/{postId}/comments/{commentId}/delete(postId=${post.id}, commentId=${comment.id})}">삭제</a>
    </div>
  </li>
</ul>
</body>
</html>